$color-UltraLightGray: rgba(245, 245, 245, 1);
$color-MediumLightGray: rgba(215, 215, 215, 1);
$color-LightGray: rgba(188, 188, 188, 1);
$color-MediumGray: rgba(165, 165, 165, 1);
$color-DimGray: rgba(105, 105, 105, 1);
$color-DarkGray: rgba(70, 70, 70, 1);
$color-UltraDarkGray: rgba(40, 40, 40, 1);
$color-DarkOrange: rgba(247, 159, 31, 1);
$color-Green: rgba(0, 163, 0, 1);
$color-LightGreen: rgba(153, 180, 51, 1);
$color-LightPurple: rgba(159, 0, 167, 1);
$color-Warning: rgba(0, 171, 169, 1); //Teal
$color-Main: rgba(2, 103, 100, 1);
$color-RouteLine: rgba(2, 103, 100, 0.5);
$color-Complementary: rgba(0, 0, 0, 1);
$color-Secondary: rgba(153, 101, 21, 1); // Gold Brown
$color-Red: rgba(139, 0, 10, 1);

$color-WhatsApp: rgba(37, 211, 102, 1);
$color-Instagram: rgba(131, 58, 180, 1);
$color-SMSApp: rgba(48, 209, 88, 1);

$colors-name-array: (
  UltraLightGray: rgba(245, 245, 245, 1),
  MediumLightGray: rgba(215, 215, 215, 1),
  LightGray: rgba(188, 188, 188, 1),
  MediumGray: rgba(165, 165, 165, 1),
  DimGray: rgba(105, 105, 105, 1),
  DarkGray: rgba(70, 70, 70, 1),
  UltraDarkGray: rgba(40, 40, 40, 1),
  DarkOrange: rgba(247, 159, 31, 1),
  Green: rgba(0, 163, 0, 1),
  LightGreen: rgba(153, 180, 51, 1),
  LightPurple: rgba(159, 0, 167, 1),
  Warning: rgba(0, 171, 169, 1),
  Main: rgba(2, 103, 100, 1),
  RouteLine: rgba(2, 103, 100, 0.5),
  Complementary: rgba(0, 0, 0, 1),
  Secondary: rgba(153, 101, 21, 1),
  Red: rgba(139, 0, 10, 1)
);
